apiVersion: v1
kind: Service
metadata:
  name: {{ deployment_name }}-service
  namespace: {{ deployment_namespace | default('default') }}
  labels:
    run: {{ deployment_name }}
spec:
  type: NodePort
  ports:
    - port: 443
      protocol: TCP
  selector:
    run: {{ deployment_name }}
